In [1]:
import sys
print(sys.version_info)
#sys.version_info(major=3 , minor=7 , micro=0 ,releaselevel='final' , serial=0)

print(type(sys.version_info))
# <class 'sys.version_info'
print(sys.version_info[0])

sys.version_info(major=3, minor=8, micro=8, releaselevel='final', serial=0)
<class 'sys.version_info'>
3

In [24]:
from datetime import date

today = date.today()
print("today's date:" ,   "today's time" , today)

today's date: today's time 2021-10-23

In [25]:
from math import pi
r = float(input("input the radius : "))
print("The area of the cicle with radius" + "is:" + str(pi * r**2))

input the radius : 2.3
The area of the cicle with radiusis:16.619025137490002

In [26]:
fname = input("Input your First Name: ")
lname = input("Input your Last name: ")
print("Hello " + lname +  "" + fname)

Input your First Name: Hira
Input your Last name: Khan
Hello KhanHira

In [27]:
a = int(input("enter first number:  "))
b = int(input("enter second number:  "))
print("sum                of",a, "and" , b ,"is", a+b)

enter first number:  45
enter second number:  80
sum                of 45 and 80 is 125

In [68]:
sub1= int(input("Enter marks of first subject: "))
sub2= int(input("Enter marks of second subject: "))
sub3= int(input("Enter marks of third subject:  "))
sub4= int(input("enter marks of fourth subject: "))
sub5= int(input("Enter marks of fifth subject:  "))
avg=(sub1+sub2+sub3+sub4+sub5)/5
if(avg>=90):
    print("Grade:A")
elif(avg>=80 and avg<90):
    print("Grade:B")
elif(avg>=70 and avg<80):
    print("Grade:C")
elif(avg>=60 and avg<70):
    print("Grade:D")
else:print("Grade:F")

Enter marks of first subject: 90
Enter marks of second subject: 80
Enter marks of third subject:  70
enter marks of fourth subject: 60
Enter marks of fifth subject:  50
Grade:C

In [69]:
num = int(input("enter anumber: "))
mod = num % 2
if mod>0:
    print("This is an odd number.")
else:
    print("this is an even number")

enter anumber: 89
This is an odd number.

In [72]:
#given list
l =[11,33,66,77,88,90]

#printing the length using len()
print("the length of list",l, "is:",len(l))

the length of list [11, 33, 66, 77, 88, 90] is: 6

In [14]:
def sum_list(items):
    sum_numbers = 0
    for x in items:
        sum_numbers += x
    return sum_numbers
print(sum_list([1 , 2 , -8]))

-5

In [8]:
print("Twinkle,twinkle,little,star,\n            How I wonder what you are!\n        up above the what so high,\n       like a diamond in the sky.\n       Twinkle,twinkle,little a star,\n      How I wonder what you are")

Twinkle,twinkle,little,star,
            How I wonder what you are!
        up above the what so high,
       like a diamond in the sky.
       Twinkle,twinkle,little a star,
      How I wonder what you are

In [13]:
def max_num_in_list(list):
    max = list[0]
    for a in list:
        if a > max:
            max = a
    return max
print(max_num_in_list([1 , 2 ,-8 ,10]))

10

In [15]:
a = [1 , 1 , 2 , 3 ,5 , 8 , 13 , 21 ,34 , 55 , 89]
for i in a:
    if i < 5:
        print(i)

1
1
2
3